# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json
import time

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
#import the cities _output.csv file from Part 1
cities_df = pd.read_csv('../output_data/cities_output.csv')
cities_df

,Unnamed: 0,country,city,lat,lon,date,cloudiness,humidity,max_temp,wind_speed
0,0,GL,qaanaaq,77.4840,-69.3632,1643498180,100,64,4.95,10.40
1,1,AU,hobart,-42.8794,147.3294,1643498725,75,60,72.01,3.00
2,2,GL,qasigiannguit,68.8193,-51.1922,1643498725,93,81,12.45,12.71
3,3,IN,amalapuram,16.5833,82.0167,1643498725,8,95,62.76,1.86
4,4,AU,carnarvon,-24.8667,113.6333,1643498726,67,88,77.07,12.66
...,...,...,...,...,...,...,...,...,...,...
544,544,JP,naze,28.3667,129.4833,1643499473,100,76,56.32,12.55
545,545,JP,itoman,26.1247,127.6694,1643499566,75,92,64.42,13.80
546,546,RU,solnechnyy,50.7214,136.6319,1643499626,78,89,-10.21,0.81
547,547,BD,sarankhola,22.3082,89.7897,1643499627,0,56,53.76,2.48
548,548,AR,trelew,-43.2490,-65.3051,1643499528,75,24,83.50,11.63

In [3]:
#drop the duplicate index column created during the csv process in Part !
cities_df.drop('Unnamed: 0', inplace=True, axis=1)

In [4]:
display(cities_df)

,country,city,lat,lon,date,cloudiness,humidity,max_temp,wind_speed
0,GL,qaanaaq,77.4840,-69.3632,1643498180,100,64,4.95,10.40
1,AU,hobart,-42.8794,147.3294,1643498725,75,60,72.01,3.00
2,GL,qasigiannguit,68.8193,-51.1922,1643498725,93,81,12.45,12.71
3,IN,amalapuram,16.5833,82.0167,1643498725,8,95,62.76,1.86
4,AU,carnarvon,-24.8667,113.6333,1643498726,67,88,77.07,12.66
...,...,...,...,...,...,...,...,...,...
544,JP,naze,28.3667,129.4833,1643499473,100,76,56.32,12.55
545,JP,itoman,26.1247,127.6694,1643499566,75,92,64.42,13.80
546,RU,solnechnyy,50.7214,136.6319,1643499626,78,89,-10.21,0.81
547,BD,sarankhola,22.3082,89.7897,1643499627,0,56,53.76,2.48
548,AR,trelew,-43.2490,-65.3051,1643499528,75,24,83.50,11.63

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [5]:
humidity = cities_df["humidity"].astype(float)
maxhumidity = cities_df["humidity"].astype(float).max()
locs_df = cities_df[["lat", "lon"]]
locs_df

         lat       lon
0    77.4840  -69.3632
1   -42.8794  147.3294
2    68.8193  -51.1922
3    16.5833   82.0167
4   -24.8667  113.6333
..       ...       ...
544  28.3667  129.4833
545  26.1247  127.6694
546  50.7214  136.6319
547  22.3082   89.7897
548 -43.2490  -65.3051

[549 rows x 2 columns]

In [6]:
maxhumidity

100.0

In [7]:
#https://jupyter-gmaps.readthedocs.io/en/latest/tutorial.html
#Best website for explaining how to use google maps
#Chose the center based on a value in dataframe--lat and lon
gmaps.configure(api_key = g_key)
figure = gmaps.figure(zoom_level=3,center=(48.8566,2.3522))
heat_layer = gmaps.heatmap_layer(locs_df, weights=humidity,dissipating=False,max_intensity=maxhumidity,point_radius=2)
figure.add_layer(heat_layer)
figure

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [8]:
cities_df

,country,city,lat,lon,date,cloudiness,humidity,max_temp,wind_speed
0,GL,qaanaaq,77.4840,-69.3632,1643498180,100,64,4.95,10.40
1,AU,hobart,-42.8794,147.3294,1643498725,75,60,72.01,3.00
2,GL,qasigiannguit,68.8193,-51.1922,1643498725,93,81,12.45,12.71
3,IN,amalapuram,16.5833,82.0167,1643498725,8,95,62.76,1.86
4,AU,carnarvon,-24.8667,113.6333,1643498726,67,88,77.07,12.66
...,...,...,...,...,...,...,...,...,...
544,JP,naze,28.3667,129.4833,1643499473,100,76,56.32,12.55
545,JP,itoman,26.1247,127.6694,1643499566,75,92,64.42,13.80
546,RU,solnechnyy,50.7214,136.6319,1643499626,78,89,-10.21,0.81
547,BD,sarankhola,22.3082,89.7897,1643499627,0,56,53.76,2.48
548,AR,trelew,-43.2490,-65.3051,1643499528,75,24,83.50,11.63

In [9]:
perfect_df = cities_df.loc[
    (cities_df['max_temp'] > 60) &
    (cities_df['max_temp'] < 75) &
    (cities_df['wind_speed']<=20) &
    (cities_df['humidity']<=50)].reset_index(drop=True).dropna()

display(perfect_df)

,country,city,lat,lon,date,cloudiness,humidity,max_temp,wind_speed
0,US,saint george,37.1041,-113.5841,1643498730,0,13,60.44,3.00
1,SD,marabba,12.3500,32.1833,1643498737,9,17,67.23,14.58
2,NZ,waipawa,-41.4122,175.5153,1643498588,42,50,70.43,7.20
3,US,coronado,32.6859,-117.1831,1643498737,75,22,70.63,3.44
4,AU,new norfolk,-42.7826,147.0587,1643498804,16,36,72.66,2.06
5,US,laguna,38.4210,-121.4238,1643498884,0,42,66.96,3.00
6,CF,damara,4.9608,18.7035,1643498956,62,23,74.62,2.75
7,NG,owo,7.1962,5.5868,1643499029,96,21,74.03,4.61
8,US,half moon bay,37.4636,-122.4286,1643499035,0,47,67.91,1.01
9,US,amarillo,35.2220,-101.8313,1643499037,0,15,65.08,3.00
10,SS,raga,8.4596,25.6780,1643499103,87,20,64.22,3.94
11,MX,guerrero negro,27.9769,-114.0611,1643499177,25,32,67.05,10.58
12,MR,atar,20.5169,-13.0499,1643499066,100,21,73.76,5.21
13,SO,odweyne,9.4092,45.0640,1643499185,48,34,60.57,10.45
14,US,san patricio,28.0170,-97.5169,1643499186,59,39,65.53,10.02
15,SD,sinnar,13.5691,33.5672,1643499189,10,22,67.24,13.29
16,ML,taoudenni,22.6783,-3.9836,1643499253,96,11,72.14,13.65
17,IN,mangrol,21.1167,70.1167,1643499325,1,41,63.81,10.02
18,TD,pala,9.3642,14.9046,1643499328,72,16,69.66,9.89
19,US,altus,34.6381,-99.3340,1643499336,0,13,68.07,8.05
20,NZ,waiouru,-39.4833,175.6667,1643499403,0,27,73.78,5.70
21,US,salinas,36.6777,-121.6555,1643499242,0,38,69.89,4.61
22,US,weatherford,32.7593,-97.7972,1643499277,0,20,66.96,8.59
23,US,lompoc,34.6391,-120.4579,1643499543,1,48,71.08,11.50
24,US,buckeye,33.3703,-112.5838,1643499358,0,16,74.30,5.32

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [10]:
hotel_df = perfect_df

hotel_df['Hotel Name'] = ''

display(hotel_df.head())

,country,city,lat,lon,date,cloudiness,humidity,max_temp,wind_speed,Hotel Name
0,US,saint george,37.1041,-113.5841,1643498730,0,13,60.44,3.00,
1,SD,marabba,12.3500,32.1833,1643498737,9,17,67.23,14.58,
2,NZ,waipawa,-41.4122,175.5153,1643498588,42,50,70.43,7.20,
3,US,coronado,32.6859,-117.1831,1643498737,75,22,70.63,3.44,
4,AU,new norfolk,-42.7826,147.0587,1643498804,16,36,72.66,2.06,

In [11]:
radius = 5000
place = 'hotel'

for index, row in hotel_df.iterrows():
    lat = row['lat']
    lon = row['lon']
    
    query_url = f"https://maps.googleapis.com/maps/api/place/nearbysearch/json?location={lat}%2C{lon}&radius={radius}&type={place}&key={g_key}"

    result = requests.get(query_url).json()
    
    try:
        hotel_name = result['results'][1]['name']
    except:
        hotel_name = 'NA'
    
    hotel_df.at[index, 'Hotel Name'] = hotel_name

In [12]:
display(hotel_df)

,country,city,lat,lon,date,cloudiness,humidity,max_temp,wind_speed,Hotel Name
0,US,saint george,37.1041,-113.5841,1643498730,0,13,60.44,3.00,Best Western Plus Abbey Inn
1,SD,marabba,12.3500,32.1833,1643498737,9,17,67.23,14.58,Umm Deseis
2,NZ,waipawa,-41.4122,175.5153,1643498588,42,50,70.43,7.20,Tuturumuri School
3,US,coronado,32.6859,-117.1831,1643498737,75,22,70.63,3.44,El Cordova Hotel
4,AU,new norfolk,-42.7826,147.0587,1643498804,16,36,72.66,2.06,The Shingles Riverside Cottages
5,US,laguna,38.4210,-121.4238,1643498884,0,42,66.96,3.00,Holiday Inn Express & Suites Elk Grove Central...
6,CF,damara,4.9608,18.7035,1643498956,62,23,74.62,2.75,NA
7,NG,owo,7.1962,5.5868,1643499029,96,21,74.03,4.61,The Chancery Hotel and Resort limited
8,US,half moon bay,37.4636,-122.4286,1643499035,0,47,67.91,1.01,"The Ritz-Carlton, Half Moon Bay"
9,US,amarillo,35.2220,-101.8313,1643499037,0,15,65.08,3.00,Microtel Inn & Suites by Wyndham Amarillo
10,SS,raga,8.4596,25.6780,1643499103,87,20,64.22,3.94,RAGA HEALTH FACILITY
11,MX,guerrero negro,27.9769,-114.0611,1643499177,25,32,67.05,10.58,COMERBAJA
12,MR,atar,20.5169,-13.0499,1643499066,100,21,73.76,5.21,Oumou Elghoura
13,SO,odweyne,9.4092,45.0640,1643499185,48,34,60.57,10.45,Xasaasi Media
14,US,san patricio,28.0170,-97.5169,1643499186,59,39,65.53,10.02,Sinton High School
15,SD,sinnar,13.5691,33.5672,1643499189,10,22,67.24,13.29,Sennar University
16,ML,taoudenni,22.6783,-3.9836,1643499253,96,11,72.14,13.65,Ruines du fort de TaoudÃ©nit
17,IN,mangrol,21.1167,70.1167,1643499325,1,41,63.81,10.02,Ekta Computers
18,TD,pala,9.3642,14.9046,1643499328,72,16,69.66,9.89,Pala Urbain Centre de SantÃ©
19,US,altus,34.6381,-99.3340,1643499336,0,13,68.07,8.05,"Holiday Inn Express & Suites Altus, an IHG Hotel"
20,NZ,waiouru,-39.4833,175.6667,1643499403,0,27,73.78,5.70,National Army Museum
21,US,salinas,36.6777,-121.6555,1643499242,0,38,69.89,4.61,Laurel Inn & Conference Center
22,US,weatherford,32.7593,-97.7972,1643499277,0,20,66.96,8.59,Weatherford College
23,US,lompoc,34.6391,-120.4579,1643499543,1,48,71.08,11.50,"Holiday Inn Express Lompoc, an IHG Hotel"
24,US,buckeye,33.3703,-112.5838,1643499358,0,16,74.30,5.32,Buckeye Union High School

In [13]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{city}</dd>
<dt>Country</dt><dd>{country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["lat", "lon"]]

In [14]:
# Add marker layer ontop of heat map
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
figure.add_layer(marker_layer)

# Display figure
figure

Figure(layout=FigureLayout(height='420px'))